{% extends 'base.html.twig' %}

{% block title %}Editar proveedor{% endblock %}

{% block body %}
    <h1>Editar proveedor</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Guardar cambios</button>
    {{ form_end(form) }}
{% endblock %}
